<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Error</title>
</head>
<body style="background-color:rgb(225, 251, 255);">
    <nav class=" cyan darken-3" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"> Rain Prediction </a>
        <ul class="right hide-on-med-and-down ">
          <li><a href="#"></a></li>
        </ul>
        
  
      </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
    <img src="static/Err.png" style="height: 200px; width: 200px; margin-left: 43%;  ">


    <h1 class="header center cyan-text text-darken-1">ERROR</h1>
    <div class="row center">
        <h5 class="header col s12 cyan-text text-darken">Please enter valid numbers for all input fields.
        <br>
        </h5>
      </div>
      <div style="text-align: center;">
        <a href="{{ url_for('main') }}" style="color: #00008B; text-decoration: underline;">Go back to the main page</a>
      </div>

</body>
</html>